form > div {
    display: flex;
}

form {
    width: 50%;
    margin: 0 auto;
}

form > h4 {
    border-bottom: 2px solid gray;
}

form > div {
    margin-bottom: 16px;
}

form > div > label {
    text-align: end;
    display: block;
    justify-content: flex-end;
    margin: auto 10px;
}

form > div > label, form > div > input {
    flex: 1;
}