<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View User</title>
        <link href="../../styles/theme.css" type="text/css" rel="stylesheet">
    </head>
    <body onload="onInit()">
        <progress id="progressBar">Loading...</progress>
        <header>
            <h3>DPOI 2020</h3>
        </header>
        <nav>
            <ul>
                <li><a href="#">Users</a></li>
                <ol>
                    <li><a href="#">New User</a></li>
                </ol>
            </ul>
        </nav>
        <main>
            <dl id="placeholder"></dl>
        </main>
        <script src="../../common/Interceptor.js" type="text/javascript"></script>
        <script src="../../common/middlewares.js" type="text/javascript"></script>
        <script src="../../services/api.js" type="text/javascript"></script>
        <script src="viewUser.js" type="text/javascript"></script>
    </body>
</html>